[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "classiq-library"]
	path = classiq-library
	url = https://github.com/Harqer/classiq-library.git
