<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE8HKL0pse9wS_JeCU2xCRwUsoVY3cUqs</string>
	<key>GCM_SENDER_ID</key>
	<string>741697675913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harqer.quantumcoin</string>
	<key>PROJECT_ID</key>
	<string>getqubits-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>getqubits-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741697675913:ios:aff3f14b3803d3b9911c58</string>
</dict>
</plist>